{{>header}}
{{>navbar}}

<div class="container mt-5 mb-5">
  <div class="row mb-2">
    <div class="col-md-4 h2">Most Popular</div>
    <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="input-group mb-3">
            <input type="text" class="form-control input-keyword" placeholder="Search Movie..." />
            <button class="btn btn-search" type="button">Search!</button>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-1">
      <img src="/public/image/left.png" alt="" width="90px" style="padding: 100% 0;">
    </div>
    <div class="col-2 movie">
      <a href="/ticket/1">
        <img src="/public/image/suicide.jpg" alt="" class="movie-thumbnail" />
        <div class=" h5 mt-3 text-center">The Suicide Squad</div>    
      </a>
    </div>
    <div class="col-3 movie">
      <a href="/ticket/2">
        <img src="/public/image/f9.jpg" alt="" class="movie-thumbnail" />
        <div class=" h5 mt-3 text-center">Fast and Furious 9 : The Fast Saga</div>    
      </a>
    </div>
    <div class="col-3 movie">
      <a href="/ticket/3">
        <img src="/public/image/bw.jpg" alt="" class="movie-thumbnail" />
        <div class=" h5 mt-3 text-center">Black Widow</div>    
      </a>
    </div>
    <div class="col-2 movie">
      <a href="/ticket/4">
        <img src="/public/image/spidey.jpg" alt="" class="movie-thumbnail" />
        <div class=" h5 mt-3 text-center">Spiderman : No Way Home</div>    
      </a>
    </div>
    <div class="col-1">
      <img src="/public/image/right.png" alt="" width="90px" style="padding: 100% 0;">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-4">
      <img src="/public/image/easy.svg" alt="img" class="main-thumbnail" />
    </div>
    <div class="col-8">
      <div class="h2 mb-4">
        Buy cinema tickets from home!
      </div>
      <div class="text-muted">
        Hora Umum, Hora Umum, Hora Umum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste saepe nam fugiat molestiae excepturi cupiditate natus repudiandae blanditiis, sequi inventore consequuntur hic consectetur recusandae
        nisi, deleniti omnis iure accusantium. Modi quibusdam amet quia sed alias tenetur nemo praesentium nisi repellat. In ipsum culpa tenetur sed iste magnam non unde similique recusandae? Quasi quia natus beatae quidem necessitatibus ut
        aliquam placeat inventore, fugiat id ipsam animi doloribus consequatur. Maxime corporis culpa at ipsam impedit, voluptatum odit officia modi assumenda unde ipsa blanditiis molestias! Blanditiis id temporibus expedita nihil sed
        adipisci porro!
      </div>
    </div>
  </div>
</div>

{{>footer}}