{{>header}}
{{>navbar}}

<div class="container mt-5 mb-5 bg-light px-5 py-5">
  <h1 class="mb-5">{{title}}</h1>
 <form action="/login" method="POST">
  {{#if message}}
  <div class="alert alert-{{message.type}}" role="alert">
    {{message.message}}
  </div>
  {{/if}}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label h3">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label h3">Password</label>
    <input type="password" class="form-control" name="password" id="exampleInputPassword1">
  </div>
  <!-- <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> -->
  <button type="submit" class="btn btn-login bn-lg">Login</button>
</form>
</div>

{{>footer}}