{{>header}}
{{>navbar}}

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-3">
        <img src="/public/image/user.png" alt="img" class="user-thumbnail" />
        </div>
        <div class="col-9">
        <div class="h2 mb-4">
            {{title}}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>
  </div>
</div>

{{>footer}}