{{>header}}
{{>navbar}}

<div class="container mt-5 mb-5">
    <div class="row mb-2">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
            <div class="col-md-4">
            <div class="input-group mb-3">
                <input type="text" class="form-control input-keyword" placeholder="Search Movie..." />
                <button class="btn btn-search" type="button">Search!</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
        <img src="" alt="img" class="movie-thumbnail" />
        </div>
        <div class="col-9">
        <div class="h2 mb-4">
            {{title}}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>
  </div>
</div>

{{>footer}}