.nav-item .btn-login {
  color: #393939;
  text-decoration: none;
  border: 2px solid #393939;
  font-weight: bold;
  font-size: 14px;
}
.nav-item .btn-register {
  background-color: #393939;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.navbar-brand {
  font-weight: bold;
  font-size: 30px !important;
}

.movie-thumbnail {
  height: 450px;
  width: 100%;
  background-color: #c4c4c4;
}

.user-thumbnail {
  width: 100%;
}

.main-thumbnail {
  height: 300px;
  width: 90%;
  /* background-color: #c4c4c4; */
}

.col-1 img {
  transform: scale(1);
}

.col-1 img:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.col-3 a,
.col-2 a {
  text-decoration: none;
  color: #393939;
}

.input-group .btn-search,
form .btn-login,
form .btn-register {
  background-color: #393939;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.movie {
  transform: scale(1);
}

.movie:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
